body {
  background-color: white;
  color: black;
  font-family: monospace;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
  text-align: center;
}

main {
  padding: 2em;
  font-size: 1.33em;
}
