img {
  max-width: 100%;
}

body {
  background-color: black;
  text-align: center;
  font-family: monospace;
}

main {
  padding: 3em;
  border-style: solid;
  border-radius: 8px;
  background-color: black;
  color: white;
  width: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.h1 {
  padding: 2em;
}
.back {
  margin-top: 2em;
  margin-bottom: 2em;
}
