@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #e6bbe0;
  background-image: url("img/pinkypink.gif");
  background-size: cover;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: #69445a;
}

img {
  max-width: 100%;
}

.main {
  padding: 2em 6em;
  border: 3px solid #a8698f;
  background-color: #e6bbe0;
  border-radius: 10px;
  max-width: 40%;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 1em 0;
}
