@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #222222;
}

body {
  background-color: var(--bg-color);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
}

img {
  max-width: 100%;
}

.main {
  border-radius: 10px;
  max-width: 40%;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  font-family: monospace;
  font-size: 20px;
}

h2 {
  font-family: monospace;
  font-size: 14px;
  font-weight: 700;
  margin: 1em 0;
}
