img {
  max-width: 100%;
  border: solid black 1px;
  border-radius: 8px;
  margin-top: 2em;
}

p {
  padding-top: 2em;
}

body {
  background-color: black;
  text-align: center;
  font-family: monospace;
}

main {
  padding: 3em;
  border: solid 2px;
  border-radius: 4px;
  background-color: black;
  color: white;
  width: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

h1 {
  padding: 1em;
}

.back {
  margin-top: 2em;
  margin-bottom: 2em;
}
