@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url("fonts/charter_regular.woff2") format("woff2");
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url("fonts/charter_italic.woff2") format("woff2");
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url("fonts/charter_bold.woff2") format("woff2");
}

@font-face {
  font-family: "unifont";
  src: url("fonts/unifont-12.0.01.woff2");
}

@font-face {
  font-family: "unifont-upper";
  src: url("fonts/unifont_upper-12.0.01.woff2");
  unicode-range: U+10000-10FFFF;
}

* {
  box-sizing: border-box;
}

.theme-dark {
  --font-color: white;
  --border-color: white;
  --bg-color: black;
}

.theme-cool {
  --font-color: white;
  --border-color: rgb(55, 95, 110);
  --bg-color: rgb(7, 12, 14);
  --nav-color: linear-gradient(rgb(28, 46, 54),rgb(7, 12, 14));
}

body {
  color: white;
  background-color: black;
  margin: 0;
}

header {
  position: relative;
  width: fit-content;
  margin: 4em auto 0;
  padding: 0 0.5em;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "unifont", "unifont-upper";
  font-weight: 100;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "unifont", "unifont-upper";
  font-size: 16px;
  margin: 2em auto;
  padding: 0 1em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: var(--nav-color);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  padding: 0;
  margin: auto;
}

nav li {
  display: inline-block;
  padding: 0.5em 1.5em;
}

a {
  color: var(--font-color);
}

main {
  margin: 2em auto;
}

/* Index */

.container {
  border: solid 1px var(--border-color);
  border-radius: 4px;
  margin: 2em auto;
  padding: 0 4em;
  width: fit-content;
  background-color: var(--bg-color);
}

.container header {
  margin: 2em auto 0;
}

.updated {
  position: absolute;
  right: -40px;
  top: -10px;
  width: 100px;
  transform: rotate(20deg);
}

.doll-frame {
  background-color: var(--bg-color);
  border: solid 1px var(--font-color);
  width: min-content;
  margin: auto;
}

.doll-container {
  position: relative;
  background-image: url(img/sparks.gif);
  background-size: cover;
  height: 480px;
  width: 640px;
  margin: auto;
}

.theme-dark .doll-container {
  box-shadow: inset 1px 1px 1px 5px rgb(0, 0, 0.6),
    inset -1px -1px 1px 3px rgb(0, 0, 0, 0.7);
}

.doll {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.frame {
  border: 3px solid var(--font-color);
  max-width: 30%;
  margin: 1em 0.5em;
  padding: 0.25em;
}

.gallery-item {
  border: 1px solid var(--font-color);
  padding: 1em;
}

.pic {
  border: 1px solid var(--font-color);
  max-height: 320px;
  max-width: 100%;
  margin: auto;
}

/* Links */

.links {
  padding: 0 1em;
  text-align: center;
  font-size: 1.2rem;
  font-family: "unifont", "unifont-upper";
}

.links li {
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

/* About me */

.selfie {
  text-align: center;
}

.selfie img {
  width: 320px;
}

/* Footer */

footer {
  padding: 2em 0 4em;
  text-align: center;
  font-family: "unifont", "unifont-upper";
  font-size: 16px;
}

footer p:first-of-type {
  padding-bottom: 1em;
}

.glitter {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .frame {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {

  .container {
    border: none;
    margin: 0 auto;
    padding: 0;
    background: none;
  }

  .frame {
    max-width: 100%;
  }

  .pic img {
    max-height: none;
  }
}

@media only screen and (max-width: 720px) {
  nav {
    flex-direction: column;
  }

  .doll-container {
    height: 240px;
    width: 320px;
  }
}

@media only screen and (max-width: 320px) {

  .doll-container {
    height: 225px;
    width: 300px;
  }
}
