:root {
  --bg-color: #ffffff;
  --text-color: #222222;
}

body {
  background-color: var(--bg-color);
  font-family: monospace;
  min-height: 100vh;
  color: var(--text-color);
}

img {
  max-width: 100%;
}

.main {
  max-width: 50%;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
}

h1 {
  font-size: 20px;
  margin-bottom: 1em;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 1em 0;
}
