* {
  box-sizing: border-box;
}

:root {
  --background-dark: #000;
  --font-color-dark: #fff;
  --background-light: #eee;
  --font-color-light: #000;
  --nav-hover-background-light: #555;

  --rave-bg-img: url("img/sparks.gif");
}

/* Themes */

.theme-rave {
  --page-background-color: var(--background-dark);
  --page-font-color: var(--font-color-dark);
  --page-background-image: var(--rave-bg-img);
  --nav-hover-background-color: var(--background-light);
  --nav-hover-font-color: var(--font-color-light);
}

.theme-light {
  --page-background-color: var(--background-light);
  --page-font-color: var(--font-color-light);
  --page-background-image: none;
  --nav-hover-background-color: var(--nav-hover-background-light);
  --nav-hover-font-color: var(--font-color-dark);
}

.theme-dark {
  --page-background-color: var(--background-dark);
  --page-font-color: var(--font-color-dark);
  --page-background-image: none;
  --nav-hover-background-color: var(--background-light);
  --nav-hover-font-color: var(--font-color-light);
}

.theme-rave .center-bar {
  display: block;
}

.theme-light .center-bar, .theme-dark .center-bar {
  display: none;
}

/* General Styles */

img {
  max-width: 100%;
}

a {
  color: var(--page-font-color);
}

a:visited {
  color: var(--page-font-color);
}

body {
  z-index: 0;
  background-image: var(--page-background-image);
  background-color: var(--page-background-color);
  color: var(--page-font-color);
  background-size: cover;
  font-family: monospace;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

/* Toolbar */

.toolbar {
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar span {
  padding: 2px 4px;
  background-color: var(--page-background-color);
  border: solid 1px var(--page-font-color);
  border-radius: 2px;
  font-size: 1.2em;
}

#theme {
  padding: 2px 4px;
  color: var(--page-font-color);
  background-color: var(--page-background-color);
  border: solid 1px var(--page-font-color);
  border-radius: 2px;
  font-family: monospace;
  font-size: 1.2em;
}

/* Header */

.header {
  background-color: var(--page-background-color);
  color: var(--page-font-color);
  border: solid 1px;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em 2em;
}

.header h1 {
  position: relative;
  width: fit-content;
  margin: 1em auto;
}

.header .updated {
  transform: scale(1.5) rotate(18deg);
  -moz-transform: scale(1.5) rotate(18deg);
  -webkit-transform: scale(1.5) rotate(18deg);
  position: absolute;
  top: -5px;
  right: -20px;
  color: magenta;
  font-size: 0.5em;
}

/* Nav */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  background-color: var(--page-background-color);
  color: var(--page-font-color);
  border: solid 1px;
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  font-size: 2em;
}


.nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-font-color);
}

/* Canvas */

.container {
  position: relative;
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: solid 1px white;
  border-radius: 4px;
}

.container canvas {
  position: absolute;
  right: 25%;
  top: 25%;

  margin: auto;
  display: flex;
  z-index: -1;
}

/* Footer */

.footer {
  color: var(--page-font-color);
  text-align: center;
  border: solid 1px;
  border-radius: 4px;
  background-color: var(--page-background-color);
}

.footer a {
  color: var(--page-font-color);
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 2em;
  max-width: 50%;
}

@media only screen and (max-width: 600px) {
  .nav a {
    font-size: 1.2em;
  }

  .bottom-right {
    display: none;
  }
}
